@import './0-vendor/normalize';

@import './1-extends/button-default';
@import './1-extends/caps';
@import './1-extends/list-reset';

@import './2-mixins/flex';
@import './2-mixins/position';
@import './2-mixins/hover';
@import './2-mixins/mq';
@import './2-mixins/custom-checkbox';
@import './2-mixins/placeholder';

@import './3-base/colors';
@import './3-base/typography';
@import './3-base/variables';
@import './3-base/base';

@import './4-components/header';
@import './4-components/buttons';
@import './4-components/cookies';
@import './4-components/dialog';
@import './4-components/footer';
