/*
 *  flexbox
 */
@mixin flex($justify: center, $align: center, $direction: null, $wrap: null, $flex: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  flex: $flex;
}
