$colors: (
  neutral: (
    100: #fff,
    900: #000,
  ),
  feedback: (
    success: (
      100: #00de3b,
      500: #00780e,
      900: #004f15,
    ),
    error: (
      100: #de0000,
      500: #780000,
      900: #4f0000,
    ),
  ),
);
